body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#header {
    background-color: whitesmoke;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 12px;

}

#head {
    overflow: hidden;
    max-width: 980px;
    position: center;
    overflow: hidden;
}

#pages {
    overflow: hidden;
    height: 100%;

}

#name {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: auto;
    background-color: cadetblue;
    color: white;
    float: left;
    overflow: hidden;
}

#me {
    float: left;
    width: 240px;
    height: 300px;
    word-wrap: normal
}

#Main {
    clear: both;
    width: 980px;
    height: 100%;
    margin: auto;
    width: 50%;
    border: 1px solid #dddddd;
    padding: 2px;
    background-color: whitesmoke;
    text-align: center;
    overflow: hidden;
}

#Projects {
    height: 100%;
    text-align: center;
    color: white;
    padding: 0px;
    overflow: hidden;
}

#indv-project {
    float: left;
    max-width: 200px;
    max-height: 200px;
    border: 0;
    margin: 5px;
}
#projPic{
    width: 200px;
    height: 200px;
}
#imgtxt {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    width: 200px;
    bottom: 45px;
    height: 30px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#design {
    width: 200px;
    height: 200px;
    border: 0;
    padding: 0px;
}

#Main2 {
    clear: both;
    height: 100%;
    max-width: 980px;
    margin: auto;
    width: 50%;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    overflow: hidden;
}



p {
    font-family: Arial, 'Helvetica neue', sans-serif;
    font-size: 16pt;
    margin: bottom;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background-color: #666666;
    height: 40px;
    border-top: 8px solid #4aaaa5;
    margin-top: 10px;
    overflow: hidden;
}

#inputs {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    float: right;
    font-size: 16pt
}

#index:hover {
    background-color: cadetblue;
    color: white;
}

#portfolio:hover {
    background-color: cadetblue;
    color: white;
}

#contact:hover {
    background-color: cadetblue;
    color: white;
}