#Name {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: auto;
    width: 100%;
    border-color: #7f8083;
}

#Email {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: auto;
    width: 100%;
    border-color: #7f8083;
}

#Message {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: auto;
    width: 100%;
    border-color: #7f8083;
}

#me {
    float: left;
    max-width: 240px;
    max-height: 300px;
    word-wrap: normal;
}

#Main {
    max-width: 980px;
    border: 2px solid #7f8083;
    padding: 2px;
    background-color: #65666a;
}
#Main h2 {
  text-align: center;
}

#Projects {
    text-align: center;
}


#projPic {
    width: 200px;
    height: 200px;
}
.card-body {
  background-color: #65666a;
}
.card {
  display: inline-block;
  margin: 2px;
  border-color: rgb(15, 126, 255);
}

#Main2 {
    max-width: 980px;
    border: 2px solid #7f8083;
    padding: 2px;
    background-color: #65666a;
    text-align: center;
    margin: auto;
    min-height: 550px;
}

#submit {
    background-color: rgb(15, 126, 255);
    color: #222;
}

button:active {
    background-color: rgb(15, 126, 255)
}

p {
    font-family: Arial, 'Helvetica neue', sans-serif;
    font-size: 20pt;
    margin: bottom;
    color: whitesmoke;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: rgb(15, 126, 255);
}

#footer {
    width: 100%;
    background: #222;
    height: 35px;
    border-top: 8px solid rgb(15, 126, 255);
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
}

#inputs {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(15, 126, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

h3 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    float: right;
    font-size: 16pt
}

nav {
    margin-bottom: 16px;
    padding: 0;
    background-color: #222;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
    color: whitesmoke;
    text-transform: uppercase;
}

.toggle,
[id^=drop] {
    display: none;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    color: whitesmoke;
}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #222;
}

nav a {
    display: block;
    padding: 14px 20px;
    color: whitesmoke;
    font-size: 17px;
    text-decoration: none;
}

nav ul li ul li:hover {
    color: rgb(15, 126, 255);
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

@media all and (max-width : 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: #222;
        padding: 14px 20px;
        color: whitesmoke;
        font-size: 17px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    [id^=drop]:checked+ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: whitesmoke;
        font-size: 17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    nav ul ul {
        float: none;
        position: static;
        color: whitesmoke;
    }

    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;

    }

}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}

::placeholder {
    color: whitesmoke;
}

input::placeholder {
    color: whitesmoke;
}

.form-group {
    color: whitesmoke;
}

#html {
    height: 100%;
    padding: 0px;
}

#body {
    min-height: 100%;
    margin: 0%;
    position: relative;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -58px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer,
.page-wrap:after {
    height: 42px;
}

#profile {
    font-size: 23px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

#profile a {
    font-size: 23px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

body {
    background: url("/assets/images/Background.png") no-repeat center center;
    background-size: cover;
    padding-bottom: 45px;
}

.wrapper>div {
    width: 300px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: none;
    transition: all 0.5s;
    border-radius: 5px;
}

.img-area {
    transform: translate(0, -50%);
    width: calc(100vw - 100px);
    height: 200px;
    top: 20px;
    background-image: url(https://i.postimg.cc/bYVtLDfB/3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 35px 10px -20px rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.details-area {
    transform: translate(-50%, 0);
    transition-delay: 0.05s;
    width: calc(100vw - 100px);
    height: calc(100vw - 80px);
    left: 40px;
    border-radius: 0;
    background: #262626;
    z-index: 1;
    color: #fff;
    font-family: poppins;
}

.wrapper.effect>.img-area {
    transform: translate(calc(-50% - 200px), -50%);
    z-index: 10;
}

.wrapper.effect>.details-area {
    transform: translate(calc(-50% + 100px), -50%) scale(1.2);
}

.details-text {
    padding: 12%;
}

.details-text h2 {
    margin: 0;
    font-family: Audiowide;
    font-size: 35px;
}

.details-text h3 {
    color: tomato;
    margin: 0;
    text-transform: uppercase;
}

.details-text p i {
    width: 15px;
    height: 15px;
    padding: 5%;
}

.details-text p i.fa.fa-facebook {
    background: #3b5998;
}

.details-text p i.fa.fa-twitter {
    background: #55acee;
}

.details-text p i.fa.fa-linkedin {
    background: #0077b5;
}

.details-text p i.fa.fa-pinterest {
    background: #bd081c;
}